@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: white;
}

.type {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.8rem;
}

h1 {
  margin-left: .6rem;
  border-right: 2px solid #777;
  padding-right: .4rem;
  font-size: 2.2rem;
  animation: cursor .9s infinite steps(2);
  color: yellow;
}

@keyframes cursor {
  from {
    border-right: 2px solid #222;
  }

  to {
    border-right: 2px solid #777;
  }
}

.skill .container {
  width: 1200px;
  justify-content: center;
}

.skill .container h2 {
  font-size: 31px;
  color: yellow;
  line-height: 1.45em;
  margin-bottom: 40px;
  text-align: center;
}

.skill .container h3 {
  font-size: 21px;
  line-height: 1.45em;
  margin-bottom: -20px;
  text-align: center;
}

.skill .container .skill_right h3 {
  margin-bottom: -30px;
}

.skill .skill_left .skill_img_code {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.skill .skill_right .skill_img_other {
  display: flex;
  justify-content: space-between;
}

.skill .container figure img {
  margin-bottom: -20px;
  transform: scale(0.5);
}

.skill .container figure p {
  text-align: center;
}

.project .container {
  width: 1200px;
}

.project .container h2 {
  font-size: 31px;
  color: yellow;
  line-height: 1.45em;
  margin-bottom: 100px;
  text-align: center;
}

/* 슬라이드 화살표 */
.project_slide i::before {
  vertical-align: middle;
}

.project_slide .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;

  font-size: 0;
  border: none;
  background: transparent;

  width: 100px;
  height: 100px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  opacity: 0.3;
  transition: 0.3s;
}

.project_slide .slick-arrow:hover {
  opacity: 1;
  transition: border 0.5s;
}

.project_slide .slick-prev {
  margin: 0 0 0 -800px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.project_slide .slick-next {
  margin: 0 0 0 800px;
  transform: translate(-50%, -50%) rotate(135deg);
}

/* 슬라이드 화살표 끝 */
/* 슬라이드 점 */

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  width: 20px;
  height: 4px;
  background: #aaa;
  margin: 0 6px;
  transition: 0.4s;
}

.slick-dots .slick-active {
  background: #ff0;
  width: 40px;
}

.slick-dots button {
  display: none;
}

/* 슬라이드 점 끝 */
.project .inner {
  display: flex;
  gap: 100px;
}

.project .inner .title {
  width: 600px;
}

.project .inner .title .name {
  font-size: 51px;
  line-height: 1.45em;
  text-align: center;
  margin-bottom: 50px;
}

.project .inner .title .detail {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.45em;
  text-align: center;
  margin-bottom: 80px;
}

.project .inner .title .detail span {
  font-size: 19px;
  font-weight: 400;
}


.project .inner .title .url {
  font-size: 21px;
  line-height: 1.45em;
  text-align: center;
  margin-bottom: 20px;
}

.project .inner .title .url:hover {
  color: yellow;
}

.project .inner .title .code {
  font-size: 21px;
  line-height: 1.45em;
  text-align: center;
}

.project .inner .title .code:hover {
  color: yellow;
}

.project .inner .portfolio_img {
  width: 600px;
}

.project .inner .portfolio_img img {
  margin-bottom: 50px;
}

.project .inner .portfolio_img .copyright {
  text-align: right;
}

.about_me .container h2 {
  font-size: 31px;
  color: yellow;
  line-height: 1.45em;
  margin-bottom: 100px;
  text-align: center;
}

.about_me .info {
  display: flex;
  gap: 50px;
  font-size: 30px;
}

.about_me .info .info_sub {
  font-size: 25px;
  line-height: 1.45em;
}