body {
    background: #333;
}

.sinbal {
    padding: 100px 0;
}

.sinbal>.case {
    position: relative;
    width: 809px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.sinbal .case ul {
    position: absolute;
    top: 0px;
    left: 0;
    transition: 1s;
    transition-timing-function: cubic-bezier(.17, .67, .48, 1.02);
}

.num {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #fff;
    font-size: 30px;
}